h1{
    text-align: center;
    color:#5896c0;
    font-family: 'Lobster';
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


body {
  padding-left: 0px;
  animation-name: mymove;
  background-color: rgb(153, 219, 245);
  animation: mymove 5s infinite;
  background: linear-gradient(to top, #0b33f9, #00e7ff);
  position: relative;
  

}





.content {
    margin-left: 40px;
    position: relative;
    
   
}

.page-header {
 
    background-color: #2b555f;
    margin-top: 0;
    text-align: center;
    padding: 20px 20px 20px 40px;
    animation-name: mymove2;
    background-color: rgb(59, 138, 230);
    animation: mymove2 4s infinite;
    position: relative;

}
@keyframes mymove2 {
  from {background-color: rgb(0, 0, 0);}
  to {background-color: rgb(42, 96, 243);}
}





.date {
    color: #f1c70a;
}

.post {
    margin-bottom: 70px;

    
}

.post p{
    text-align: center;
    font-family:"Arial Black", Gadget, sans-serif ; 
}


footer{
    
    background-color: rgb(248, 248, 248);
    text-align: center;
    padding: 10px;
    animation-name: mymove3;
    background-color: rgb(153, 219, 245);
    animation: mymove3 3s infinite;
}
@keyframes mymove3 {
  from {background-color: rgb(0, 0, 0);}
  to {background-color: rgb(29, 115, 245);}
}






.arti{
  transition: width 2s, height 4s;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(5, 5, 7), 0 0 5px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
    animation-name: example;
    animation-duration: 4s;
    background: linear-gradient(to top, #0b33f9, #00e7ff);
}

@keyframes example {
    from {background-color: rgb(26, 50, 87);}
    to {background-color: rgb(84, 183, 196);}
  }

.arti:hover {
    width: 100%;
    height: 300px;
    
}




  


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }

  .center {
    text-align: center;
    position: relative;

  }
  
  .pagination {
    display: inline-block;
    position: relative;

  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  
  .pagination a.active {
    background-color: #4caf59;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}



  input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #4d96ac;
  }
  
  input[type=password] {
    width: 100%;
    background-color: #4ca0af;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

  button[type=submit] {
    background-color: #45a049;
  }
  
form{
  width: 500px;
  height: auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  box-shadow: 10px 10px 5px rgb(32, 40, 150);
  rotate: 2px;
  transition: width 6s, height 8s;
  position: relative;

}

form:hover {
  
  width: 1000px;
  height: auto;
  position: relative;

}

.helptext{
       background-color: rgb(228, 23, 23);
       color: rgb(251, 255, 0);
    
}


.comment {
  margin: 20px 0px 20px 20px;
  }

.bg-image{
  border-radius: auto;
  height: auto;
  text-align: center;
  margin: 8px 0;
  width:auto;
  transition: width 6s, transform 6s;
  position: relative;


}

.bg-image:hover{
  transform: rotateY(120deg);
  


}


h2 {
  color: #ffffff;
  text-align: center;
  position: relative;
  left: 200px;
}


.post{
  color: #31f700;
  position: relative;
  left: 180px;
}
.post h1 a {
  color: #f7f7f7;
  position: relative;
 
}
.post li a {
  color: #f7f7f7;
  position: relative;
 
}



.movre {
  
  position: relative;
  left: 140px;
  
  
}
iframe {
  border-width: 2px;
  border-style: inset;
  border: 4px solid rgb(12, 12, 12);
  border-image: initial;
  box-shadow: 10px 10px 5px rgb(32, 40, 150);
}



.btr{background-color:rgb(255, 60, 0);color:white; left:50px; position: relative; border-radius: 18px;  width: 100px; height: 30px; transition: width 2s, height 4s; }
.btb{background-color:blue;color:white;width:120px; left:50px; position: relative; border-radius: 18px;  width: 100px; height: 30px; transition: width 2s, height 4s;}
.btg{background-color:green;color:white;width: 120px; left:50px; position: relative; border-radius: 18px;}

.btr:hover{
  width: 200px;
  
}

.btb:hover{
  width: 200px;
  
}


a:not([href]) {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

b, strong {
  font-weight: 700;
  color: rgb(0, 255, 13);
}


p#binn {
  margin: 0 0 10px;
  color: #20e6e6;
}

a#cerr {
  color:blue;
  text-decoration: none;
  position: relative;
  left: 960px;
}

.bg-text p{
    color: rgb(208, 253, 6);
    
}
 

div#disqus_thread {
  position: relative;
  left: 260px;
}

h1#quii {
  position: relative;
  left: 260px;
}

li {
  float: left;
  color: beige;
}

a {
  color: #f5f5f5;
  text-decoration: none;
}



.olaaa{
  width: 0px;
  height: auto;
  background-color: red;
  position: relative;
  animation-name: olaaa;
  animation-duration: 4s;
}

@keyframes olaaa {
  0%   {background-color:red; left:50px; top:50px;}
  25%  {background-color:yellow; left:200px; top:50px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:50px; top:200px;}
  100% {background-color:red; left:50px; top:50px;}
}